
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	font-size:40px;
}
.a{
	background-color:green;
	width:70px;
	height:70px;
}
.b{
	background-color:red;
	width:70px;
	height:70px;
}
.c{
	background-color:blue;
	width:70px;
	height:70px;
}